.tasklist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
border-top: 2px solid rgb(0,0,0,0.1);
padding: 30px;
}
.tasklist ul{
list-style: none;
width:70%;
}
.tasklist ul li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px;
    font-weight: bold;
    transition: .4s;
    user-select: none;
}

.tasklist ul li:hover{
    
}